<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>피자 메뉴 관리</title>
    <link rel="stylesheet" href="/pizza-style.css">
</head>
<body>
<div class="container">
    <h1>피자 메뉴</h1>
    <table id="pizza-list">
        <thead>
        <tr>
            <th>이름</th>
            <th>가격</th>
            <th>이미지</th>
            <th>액션</th>
        </tr>
        </thead>
        <tbody id="pizza-container">

        </tbody>
    </table>
    <a href="/add-pizza.html">메뉴 추가</a>
</div>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script>
    $(document).ready(function () {
        $.ajax({
            url: '/api/pizzas',
            method: 'GET',
            success:
                function (data) {
                    $.each(data, function (key, value) {
                        console.log("key : ", key, "value : ", value);
                        $('#pizza-container').append(
                            '<tr class="card">' +
                            '<td>' + value.name + '</td>' +
                            '<td>' + value.price + '</td>' +
                            '<td>' + value.description + '</td>' +
                            '<td>' + '<img>' + value.image_path + '</td>' +
                            '</tr>')
                    })
                },
            error:
                function () {
                    $('#pizza-container').append('<p>서버에서 데이터를 가져올 수 없습니다.</p>')
                }
        })
    })
</script>
</body>
</html>